<head>
	<h1> task viewer </h1>
</head>

<body>
	<% @tasklist.each_with_index do |t| %>
		<p> <%=t.task%> </p>
		<p> <%=t.due%> </p>
	<% end %>
	
	<form action="/ang/enroll">
		<textarea name="irum" placeholder="task"></textarea><br>
		<textarea name="nalzza" placeholder="due"></textarea><br>
		<input type="submit">
	</form>

	<a href="/models/sign_out"> Sign out </a>

	<!-- angular on rails (bower-rails) -->
	<div class="container-fluid" ng-app="receta">
		<div class="panel panel-success">
		    <div class="panel-heading">
		      <h1 ng-if="name">Hello, {{name}}</h1>
		    </div>
		    <div class="panel-body">
		      <form class="form-inline">
		        <div class="form-group">
		          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
		        </div>
		      </form>
		    </div>
	  	</div>
	</div>
</body>